<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>This is the homepage!</p>
<ul> 
   #foreach($name in $session.getAttributeNames())    
      <li> $name = $session.getAttribute($name) </li> 
   #end  
</ul>


		<p>${session}</p>
		<p>${session.s_key}</p>
		<p>${session.getAttribute('s_key')}</p>
		<p>${s_key}</p>
		<p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
        <p>${name}</p>
		#set($a = $stringEscape.escapeHtml(${name}))
        <p>#SLITERAL(${a})</p>
		
        <p>#SLITERAL(${foo})</p>
        <p>$stringEscape.escapeHtml(${foo})</p>
    </body>
</html>