#macro( _test )
<tr><td>test macro</td></tr>
#end

#macro( showPageLable $_formName $_pageList )
#parse( "common/pageLable.vm" )
#end


#macro(SLITERAL $security_l_i_t_e_r_a_l_s)$!{security_l_i_t_e_r_a_l_s}#end